* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #000000;
    color: #ffffff;
    background-color: #8b7575;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23000000' fill-opacity='0.3'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/*navegation*/
.nav_main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
}

.nav_brand{
    width: 50px;
}

/*nav left*/
.nav_main ul{
    display: flex;
}

.nav_main ul li{
    padding: 10px;
}

.nav_main ul li a:hover{
    border-bottom: 2px solid #ffffff;
}

.nav_main ul.nav_menu{
    flex: 1;
    margin-left: 20px;
}

.menu_btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
    /*display: none;*/
    z-index: 2;
    font-size: 3rem;
}

/*show case*/
.showcase{
    width: 100%;
    height: 400px;
    background: url("./img/portada1.png") no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.boton{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 10px 0;
}

.boton:hover{
    opacity: .7;
}

.showcase h2, .showcase p{
    margin-bottom: 10px;
    margin: 20px;
}

hr{
    margin: 10px 0;
}

/*news card*/
.news_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-bottom: 20px;
}

.news_cards img{
    width: 100%;
    height: 200px;
}

.news_cards h3{
    font-size: 20px;
    margin: 10px 0;
}

.news_cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news_cards a:hover{
    text-decoration: underline;
}

/*banner*/
.baner_one{
    width: 100%;
    height: 330px;
    background: url("./img/banner.png");
    margin-bottom: 20px;
}

.baner_one .content{
    width: 40%;
    padding: 90px 0 30px;
    color: #ffffff;
}

.baner_one p, .baner_one h2, .baner_one a{
    margin: 20px;
}

.baner_two{
    width: 100%;
    height: 260px;
    background: url("./img/banner2.png");
    margin-bottom: 20px;
}

.baner_two .content_two{
    width: 40%;
    padding: 30px 0 30px;
    color: #ffffff;
}

.baner_two p, .baner_two a, .baner_two h2{
    margin: 20px;
}

/*social*/
.social{
    margin: 40px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;

}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

/*footer links*/
.footer_links{
    background: #000000;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer_container ul{
    margin: 0 auto;
}

.footer_container ul li{
    color: #ffffff;
    line-height: 2.5;
}

.footer_container ul li a:hover{
    text-decoration: underline;
}

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {
    .nav_main ul.nav_menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        transform: translateX(-20px);
        padding: 30px;
        opacity: .9;
    }


    
    body {background: red;}
    .news_cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .baner_one .content{
        width: 80%;
    }

    .baner_two .content_two{
        width: 80%;
    }
}